{% extends "layout.html" %}
{% block content %} 
<div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Blog Post -->
                <div class="content-section">
                  <div class="media">
                    <img src="{{image_file}}" alt="" class="rounded-circle">
                    <div class="media-body">
                   <h2 class="account-heading">{{current_user.username}}</h2>
                   <p class="text-secondary">{{ current_user.email}}</p>
                    </div>
                  </div>
                  </div>
                
              </div>
         {% include "sidebar.html" %}
    
        </div>
        <!-- /.row -->
      </div>

{% endblock %}
