{% extends "layout.html" %}
{% block content %} 
<div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Blog Post -->
                <div class="card mb-4">
                  <div class="card-body">
                    <h2 class="card-title">Form register</h2>
                     <form method="post",action="">
                       {{ form.hidden_tag()}}
                      
                           <legend class="border-bottom mb-4">Join Today</legend>
                           <div class="form-group">
                               {{form.username.label(class="form-control-label")}}
                                 {% if form.username.errors %}
                                 {{form.username(class="form-control is-invalid")}}
                                   <div class="invalid-feedback">
                                       {% for error in form.username.errors %}
                                            <span>
                                                {{error}}
                                            </span>
                                       {% endfor %}
                                   </div>
                                 {% else %}
                                 {{form.username(class="form-control")}}
                                 {% endif %}
                              
                           </div>
                           <div class="form-group">
                            {{form.email.label(class="form-control-label")}}
                            {% if form.email.errors %}
                            {{form.email(class="form-control is-invalid")}}
                              <div class="invalid-feedback">
                                  {% for error in form.email.errors %}
                                       <span>
                                           {{error}}
                                       </span>
                                  {% endfor %}
                              </div>
                            {% else %}
                            {{form.email(class="form-control")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{form.password.label(class="form-control-label")}}
                            {{form.password(class="form-control")}}
                        </div>
                       <div class="form-group">
                           {{form.confirm_pass.label(class="form-control-label")}}
                           {% if form.confirm_pass.errors %}
                           {{form.confirm_pass(class="form-control is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.confirm_pass.errors %}
                                      <span>
                                          {{error}}
                                      </span>
                                 {% endfor %}
                             </div>
                           {% else %}
                           {{form.confirm_pass(class="form-control")}}
                           {% endif %}
                       </div>
                       <div class="form-group">
                           {{form.submit(class="btn btn-outline-info")}}
                       </div>
                     </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Have you account ? <a href="{{url_for('login')}}" class="ml-2">Go login</a>
                        </small>
                    </div>
                  </div>
                  
                </div>
                
              </div>
         {% include "sidebar.html" %}
    
        </div>
        <!-- /.row -->
      </div>

{% endblock %}
