{% extends "layout.html" %}

{% block content %} 
<div class="container">
        <div class="row">
         <!-- Blog Entries Column -->
<div class="col-md-8">
  {% with messages = get_flashed_messages(with_categories=true)%}
       {% if(messages) %}
         {% for category, message in messages%}
            <div class="alert alert-{{category}}">
              {{message}}
            </div>
         {% endfor %}
       {% endif %}
  {%endwith%}
  <!-- Blog Post -->
  {% for post in posts %}
    <article class="media content-secttion">
    <img src="" alt="" class="rounded-circle img-artilce">
    <div class="media-body">
      <div class="article-metadata">
        <a href="" class="mr-2"></a>
        <small class="text-muted"></small>
      </div>
       <h2> <a href="" class="article-title">{{post.title}}</a></h2>
       <p class="article-content">{{ post.content }}</p>
    </div>
    </article>
    {% endfor %}
</div>
         {% include "sidebar.html" %}
    
        </div>
        <!-- /.row -->
      </div>

{% endblock %}
