<!DOCTYPE html>
<html>
    <head>
           
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap.min.css') }}" >
            <style>
              body{
                  margin-top: 100px;
              }
            </style>
        {% if(title)%}
        <title>Blog -- {{title}}</title>
        {% else %}
          <title>Blog -- Flask</title>
        {% endif %}
    </head>
    <body>
        {% include "menu.html" %}
        {% block content %} {% endblock %}

        {% include "footer.html" %}
    </body>
    </html>